<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Developed by Lucian Iacob.
  ~ Romania, 2023.
  ~ Project: FarmExpert
  ~ Email: lucian@iacob.email
  ~ Last modified 4/4/23, 1:23 PM.
  ~ Copyright (c) Lucian Iacob. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.FarmExpertApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_launcher"
        android:testOnly="false"
        android:theme="@style/AppTheme">

    <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.AuthenticationActivity" />

        <activity
            android:name=".activities.FarmSelectorActivity"
            android:label="Select Farm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".activities.MainActivity" />

        <activity android:name=".activities.ConfigurationActivity" />

        <activity
            android:name=".activities.UserProfileActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.ChangeUserNameActivity"
            android:parentActivityName=".activities.UserProfileActivity" />

        <activity
            android:name=".activities.ChangeUserEmailActivity"
            android:parentActivityName=".activities.UserProfileActivity" />

        <activity
            android:name=".activities.UserFarmsActivity"
            android:parentActivityName=".activities.UserProfileActivity" />

    </application>

</manifest>